body
{
	background-image: url(gradient.png);
	background-repeat: repeat-x;
	background-color: #323232;
}

h1
{
	background-image: url(top.png);
	text-indent: -900px;
	background-repeat: no-repeat;
	height: 50px;
}

#container
{
	width: 800px;
	margin: 0 auto;
}

.urlInput
{

	 border-top-left-radius: 5px;
	 border-bottom-left-radius:5px;
	 font-size: 20px;
	 padding: 8px;
	 color: #1992b9;
	 outline: none;
	 border: 0px;
	 margin-right: 0px;
	 width: 240px;
}

input
{
	height: 20px;
	line-height: 20px;
	text-decoration: none;
}

#add
{
	color: #fff;
	border: 0px;
	text-decoration: none;
	background-color: #eca922;
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px;
	font-size: 15px;
	padding: 9px;
	min-height: 36px;
	font-family: verdana;
	width: 50px;
}

#search
{
	margin: 0 auto;
	width: 350px;
}

#addlink
{
	text-decoration:none;
}

#entries
{
	width: 600px;
	margin: 0 auto;
	position: relative;
	top: 20px;
	background-color: #444343;
	border-radius: 5px;
	padding: 10px;
}

.nobullet
{
	padding:0px;
	margin:0px;
	list-style-type: none;

}

.entry
{
	font-family: verdana;
	color: #fff;
	font-size: 15px;
	padding: 3px;
	text-align:center;
	border-bottom: 2px solid #323232;
}

#navi
{
	float:right;
	position: relative;
	top: -50px;	
	right: 100px;
}

a:link
{
	text-decoration:none;
	font-family:verdana;
	font-size: 15px;
}

#navlink
{
	color: #eca71f;
	margin: 5px;
}

#current
{

	background-color:#313030;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
